[Unit]
Description=Deluge Bittorrent Client Web Interface
Documentation=man:deluge-web
After=network.target 
#delugedu.service

[Service]
Type=simple
UMask=007
ExecStart=/usr/bin/deluge-web -d
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=default.target
