[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bazza/Desktop/ETP425 Assignment 1 SAMPLES 2014]
row=6
col=3

[/home/bazza/Desktop/Steam.desktop]
row=3
col=1

[/home/bazza/Desktop/Kindle.desktop]
row=3
col=3

[/home/bazza/Desktop/ceres02_dawn_1080.jpg]
row=7
col=0

[/home/bazza/Desktop/Anastasia's movies disks.xlsx]
row=8
col=0

[/home/bazza/Desktop/Dr_USB_N10_10018_Windows.zip]
row=6
col=0

[/home/bazza/Desktop/Kindle.lnk]
row=4
col=3

[/home/bazza/Desktop/steam.desktop]
row=6
col=1

[/home/bazza/Desktop/Barry Williams Rental App Pay slip.pdf]
row=0
col=1

[/home/bazza/Desktop/Barry Williams Rental ap.pdf]
row=2
col=1

[/home/bazza/Desktop/activity 2-5.docx]
row=8
col=1

[/home/bazza/Desktop/Barry Williams Rental App Licence.pdf]
row=1
col=1

[/home/bazza/Desktop/PCRange7800VDPX_2.32d.afw]
row=7
col=2

[/home/bazza/Desktop/meeting (1).jnlp]
row=4
col=2

[/home/bazza/Desktop/ghost.tar.gz]
row=1
col=2

[/home/bazza/Desktop/18998_earth_earth_view_from_iss.jpg]
row=6
col=2

[/home/bazza/Desktop/American McGee's Alice(tm).desktop]
row=2
col=3

[/home/bazza/Desktop/Steam (Tomb Raider 2013).desktop]
row=4
col=1

[/home/bazza/Desktop/Alice. Madness Returns.lnk]
row=1
col=3

[/home/bazza/Desktop/Dirty Ghost Spellchecker.user.js]
row=7
col=1

[/home/bazza/Desktop/backupsettings.conf]
row=5
col=2

[/home/bazza/Desktop/Tomb Raider (2013).desktop]
row=5
col=1

[/home/bazza/Desktop/Alice. Madness Returns.desktop]
row=0
col=3

[/home/bazza/Desktop/ghost]
row=0
col=2

[/home/bazza/Desktop/Adobe Digital Editions 4.5.desktop]
row=8
col=2

[/home/bazza/Desktop/Assessment  Lecture.pptm]
row=5
col=3

[/home/bazza/Desktop/barrywilliamspp.wordpress.2015-03-04.xml]
row=2
col=2

[/home/bazza/Desktop/nodejs-0.10.36-2-x86_64.pkg.tar.xz]
row=3
col=2

[/home/bazza/Desktop/Student Samples Assignment 1.zip]
row=7
col=3

[ca3211f4-61f8-4c0e-a265-a1173c9a6795]
row=1
col=0

[3A32D35D32D31D27]
row=2
col=0

[5EE2FBB2586ABF7B]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/bazza]
row=5
col=0

