[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bazza/Desktop/TAE40116 2019 SP4 CRN Summary v1.0.xlsx]
row=4
col=3

[/home/bazza/Desktop/IMG_20191130_103812.jpg]
row=1
col=11

[/home/bazza/Desktop/Diablo II.desktop]
row=7
col=3

[/home/bazza/Desktop/IMG_20191031_090122_1.jpg]
row=4
col=5

[/home/bazza/Desktop/IMG_20191012_163145.jpg]
row=3
col=3

[/home/bazza/Desktop/IMG_20191118_175559.jpg]
row=8
col=3

[/home/bazza/Desktop/410410639436.jpg]
row=7
col=0

[/home/bazza/Desktop/IMG_20190927_132015.jpg]
row=5
col=7

[/home/bazza/Desktop/IMG_20191025_144241.jpg]
row=7
col=2

[/home/bazza/Desktop/IMG_20191107_132947.jpg]
row=6
col=4

[/home/bazza/Desktop/00000PORTRAIT_00000_BURST20191201130036427.jpg]
row=5
col=8

[/home/bazza/Desktop/IMG_20191201_130617_1.jpg]
row=0
col=7

[/home/bazza/Desktop/IMG_4109.jpg]
row=0
col=2

[/home/bazza/Desktop/Kiara Modified Time Table.docx]
row=0
col=13

[/home/bazza/Desktop/IMG_20190911_181401_1.jpg]
row=3
col=7

[/home/bazza/Desktop/00100lrPORTRAIT_00100_BURST20191201130036854_COVER.jpg]
row=6
col=8

[/home/bazza/Desktop/00100lrPORTRAIT_00100_BURST20191201125849862_COVER.jpg]
row=4
col=0

[/home/bazza/Desktop/00000PORTRAIT_00000_BURST20191201125833981.jpg]
row=1
col=8

[/home/bazza/Desktop/00100lrPORTRAIT_00100_BURST20191201125905004_COVER.jpg]
row=7
col=8

[/home/bazza/Desktop/IMG_20191130_104147.jpg]
row=2
col=9

[/home/bazza/Desktop/IMG_20191026_112026.jpg]
row=8
col=1

[/home/bazza/Desktop/IMG_4125.jpg]
row=2
col=5

[/home/bazza/Desktop/IMG_4104.jpg]
row=6
col=3

[/home/bazza/Desktop/IMG_20191018_145520.jpg]
row=8
col=2

[/home/bazza/Desktop/IMG_20191108_111319.jpg]
row=1
col=6

[/home/bazza/Desktop/IMG_20191130_104112.jpg]
row=3
col=9

[/home/bazza/Desktop/Student Cohort Workflow Responsibility_BJIT.xlsx]
row=5
col=3

[/home/bazza/Desktop/IMG_20191130_103842.jpg]
row=5
col=9

[/home/bazza/Desktop/Barry Account screensot.png]
row=5
col=10

[/home/bazza/Desktop/IMG_20191031_090122.jpg]
row=9
col=4

[/home/bazza/Desktop/IMG_20191201_130622.jpg]
row=2
col=7

[/home/bazza/Desktop/Report Viewer4.pdf]
row=8
col=11

[/home/bazza/Desktop/IMG_20191011_153342.jpg]
row=1
col=1

[/home/bazza/Desktop/IMG_20191123_183012.jpg]
row=1
col=5

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123194543126_COVER.jpg]
row=3
col=2

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123194558456_COVER.jpg]
row=0
col=5

[/home/bazza/Desktop/IMG_4127.jpg]
row=1
col=2

[/home/bazza/Desktop/IMG_20191012_152541.jpg]
row=0
col=1

[/home/bazza/Desktop/IMG_20191012_163156.jpg]
row=0
col=3

[/home/bazza/Desktop/IMG_20191012_183711.jpg]
row=3
col=4

[/home/bazza/Desktop/IMG_20191130_110420.jpg]
row=7
col=9

[/home/bazza/Desktop/Photos (3).zip]
row=4
col=6

[/home/bazza/Desktop/IMG_20191017_132343.jpg]
row=5
col=2

[/home/bazza/Desktop/steam.desktop]
row=2
col=13

[/home/bazza/Desktop/4438089_Teacher temporary Appt.pdf]
row=7
col=10

[/home/bazza/Desktop/FB_IMG_1574822000475.jpg]
row=3
col=6

[/home/bazza/Desktop/IMG_20191031_090117.jpg]
row=9
col=0

[/home/bazza/Desktop/GameGlass.desktop]
row=4
col=12

[/home/bazza/Desktop/IMG_20191129_145636.jpg]
row=8
col=10

[/home/bazza/Desktop/chrome-efmjfjelnicpmdcmfikempdhlmainjcb-Default.desktop]
row=7
col=12

[/home/bazza/Desktop/payslip.20191128.4438089.pdf]
row=6
col=10

[/home/bazza/Desktop/IMG_20191130_103841.jpg]
row=4
col=9

[/home/bazza/Desktop/IMG_20191012_163258.jpg]
row=2
col=3

[/home/bazza/Desktop/IMG_20190928_160439.jpg]
row=6
col=7

[/home/bazza/Desktop/00000PORTRAIT_00000_BURST20191201130116741.jpg]
row=1
col=0

[/home/bazza/Desktop/IMG_20191012_163144.jpg]
row=2
col=0

[/home/bazza/Desktop/IMG_20191017_132345.jpg]
row=6
col=2

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123194556480_COVER.jpg]
row=8
col=4

[/home/bazza/Desktop/IMG_20191031_090116_2.jpg]
row=5
col=5

[/home/bazza/Desktop/IMG_20191216_200646_01.png]
row=3
col=10

[/home/bazza/Desktop/IMG_20191012_163302.jpg]
row=1
col=3

[/home/bazza/Desktop/IMG_20191130_110419.jpg]
row=6
col=9

[/home/bazza/Desktop/IMG_20191107_133000.jpg]
row=5
col=4

[/home/bazza/Desktop/00100lrPORTRAIT_00100_BURST20191201130037494_COVER.jpg]
row=4
col=8

[/home/bazza/Desktop/GameMaker Studio 2.desktop]
row=8
col=12

[/home/bazza/Desktop/00000PORTRAIT_00000_BURST20191201130016831.jpg]
row=2
col=8

[/home/bazza/Desktop/IMG_20191216_200642_01.png]
row=4
col=10

[/home/bazza/Desktop/IMG_20191123_183130.jpg]
row=5
col=6

[/home/bazza/Desktop/EV3 Classroom.lnk]
row=3
col=12

[/home/bazza/Desktop/IMG_20191018_150039.jpg]
row=2
col=4

[/home/bazza/Desktop/IMG_20191026_112025.jpg]
row=5
col=1

[/home/bazza/Desktop/IMG_4124.jpg]
row=3
col=5

[/home/bazza/Desktop/IMG_20190927_132144.jpg]
row=4
col=7

[/home/bazza/Desktop/IMG_4110.jpg]
row=2
col=1

[/home/bazza/Desktop/IMG_20191017_132419.jpg]
row=9
col=2

[/home/bazza/Desktop/IMG_20191108_111318.jpg]
row=0
col=6

[/home/bazza/Desktop/Steam.desktop]
row=6
col=12

[/home/bazza/Desktop/00000PORTRAIT_00000_BURST20191130104645213.jpg]
row=3
col=0

[/home/bazza/Desktop/IMG_20191129_145646_1.jpg]
row=0
col=11

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123194559997_COVER.jpg]
row=7
col=4

[/home/bazza/Desktop/IMG_20191201_130621.jpg]
row=1
col=7

[/home/bazza/Desktop/IMG_20191004_090521.jpg]
row=7
col=7

[/home/bazza/Desktop/IMG_20191012_174005.jpg]
row=4
col=4

[/home/bazza/Desktop/IMG_4082.jpg]
row=9
col=3

[/home/bazza/Desktop/IMG_20191130_110458.jpg]
row=5
col=0

[/home/bazza/Desktop/EV3 Classroom.desktop]
row=2
col=12

[/home/bazza/Desktop/unnamed (1).png]
row=1
col=13

[/home/bazza/Desktop/410410639439.jpg]
row=8
col=0

[/home/bazza/Desktop/IMG_20191018_150034.jpg]
row=4
col=2

[/home/bazza/Desktop/IMG_4112.jpg]
row=3
col=1

[/home/bazza/Desktop/unnamed.png]
row=3
col=11

[/home/bazza/Desktop/IMG_20191201_130537.jpg]
row=3
col=8

[/home/bazza/Desktop/00100lrPORTRAIT_00100_BURST20191201125905815_COVER.jpg]
row=8
col=8

[/home/bazza/Desktop/payslip.20200123.4438089.pdf]
row=5
col=11

[/home/bazza/Desktop/Report Viewer3.pdf]
row=6
col=11

[/home/bazza/Desktop/IMG_20191026_112026_1.jpg]
row=6
col=1

[/home/bazza/Desktop/payslip.20200206.4438089.pdf]
row=4
col=11

[/home/bazza/Desktop/IMG_20191027_095827.jpg]
row=4
col=1

[/home/bazza/Desktop/IMG_20191130_110418.jpg]
row=6
col=0

[/home/bazza/Desktop/IMG_20191018_150159.jpg]
row=9
col=1

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123195022999_COVER.jpg]
row=6
col=6

[/home/bazza/Desktop/Report Viewer2.pdf]
row=7
col=11

[/home/bazza/Desktop/IMG_20191018_150145.jpg]
row=1
col=4

[/home/bazza/Desktop/IMG_20191201_130616_1.jpg]
row=0
col=0

[/home/bazza/Desktop/IMG_20191108_111308.jpg]
row=2
col=6

[/home/bazza/Desktop/IMG_20191108_111315.jpg]
row=8
col=5

[/home/bazza/Desktop/IMG_20191025_144202_2.jpg]
row=7
col=1

[/home/bazza/Desktop/IMG_20191102_125515.jpg]
row=0
col=4

[/home/bazza/Desktop/Report Viewer.pdf]
row=0
col=12

[/home/bazza/Desktop/GameGlass.lnk]
row=5
col=12

[/home/bazza/Desktop/00100sPORTRAIT_00100_BURST20191123194543759_COVER.jpg]
row=2
col=2

[/home/bazza/Desktop/IMG_20191130_103819.jpg]
row=2
col=11

[3A32D35D32D31D27]
row=7
col=6

[Rubbish]
row=9
col=5

[/]
row=7
col=5

[/home/bazza]
row=6
col=5

